aiodns== 2.0.0
aiofile==3.3.3
aiohttp==3.8.1
aioredis== 1.3.1
aiosignal==1.2.0
anyio==3.6.1
appdirs==1.4.4
appnope==0.1.2
argon2-cffi==21.3.0
argon2-cffi-bindings21.2.0
asgiref==3.3.4
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.4.0
autobahn== 20.12.3
Automat==20.2.0
Babel==2.9.1
backcall== 0.2.0
base58== 2.1.1
beautifulsoup44.9.1
bitarray== 1.2.2
black==22.1.0
bleach== 4.1.0
brotlipy== 0.7.0
cachetools== 4.2.2
caio== 0.6.3
cchardet== 2.1.7
certifi==2020.6.20
cffi== 1.14.2
channels== 3.0.3
channels-redis3.2.0
chardet==3.0.4
charset-normalizer2.0.12
click==8.0.3
cmake==3.17.3
constantly== 15.1.0
coreapi==2.3.3
coreschema== 0.0.4
cryptography== 3.2.1
cycler== 0.10.0
cytoolz==0.11.2
daphne== 3.0.1
debugpy==1.5.1
decorator==5.1.1
defusedxml== 0.6.0
diffimg==0.2.3
distlib==0.3.1
distro== 1.5.0
dj-database-url 0.5.0
dj-rest-auth== 2.1.5
dj-stripe==2.5.0
Django== 3.2.4
django-admin== 2.0.1
django-allauth0.42.0
django-cors-headers 3.5.0
django-countries6.1.3
django-crontab0.7.1
django-excel-base 1.0.4
django-excel-response23.0.2
django-extensions 3.1.3
django-filter==2.4.0
django-guardian 2.4.0
django-heroku==0.3.1
django-imap-backend 0.2.3
django-mail-admin 0.2.3
django-mailbox4.8.2
django-oauth-toolkit1.5.0
django-phonenumber-field5.0.0
django-rest-auth0.9.5
django-rest-swagger 2.0.7
django-six== 1.0.4
django-smtp-ssl 1.0
django-solo==1.1.5
django-templated-mail 1.1.1
django-timescaledb0.2.8
djangorestframework 3.11.1
djangorestframework-guardian0.3.0
djangorestframework-jwt 1.11.0
djangorestframework-simplejwt 4.6.0
djproxy==2.3.6
dnspython==2.1.0
dpath==2.0.6
drf-writable-nested 0.6.1
entrypoints==0.4
eth-abi==2.1.1
eth-account==0.5.7
eth-hash== 0.3.2
eth-keyfile==0.5.1
eth-keys== 0.3.4
eth-rlp==0.2.1
eth-typing== 2.3.0
eth-utils==1.10.0
executing==0.8.2
fastjsonschema2.15.3
filelock== 3.0.12
fpdf== 1.7.2
frozenlist== 1.3.0
future== 0.18.2
fuzzywuzzy== 0.18.0
google-api-core 1.26.3
google-api-python-client2.3.0
google-auth==1.30.0
google-auth-httplib20.1.0
google-auth-oauthlib0.4.4
googleapis-common-protos1.53.0
gunicorn== 20.0.4
hexbytes== 0.2.2
hiredis==1.1.0
html2docx==1.3.1
html5lib== 1.1
httplib2== 0.19.1
hyperlink==21.0.0
idna== 2.10
importlib-metadata4.11.4
importlib-resources 5.4.0
incremental==17.5.0
ipfshttpclient0.8.0a2
ipykernel==6.9.1
ipython==8.0.1
ipython-genutils0.2.0
ipywidgets== 7.6.5
itypes== 1.2.0
jedi== 0.18.1
Jinja2== 3.1.2
json5==0.9.8
jsonfield==3.1.0
jsonschema== 3.2.0
jupyter==1.0.0
jupyter-client7.1.2
jupyter-console 6.4.0
jupyter-core== 4.9.2
jupyter-server1.17.1
jupyterlab== 3.4.3
jupyterlab-pygments 0.1.2
jupyterlab-server 2.14.0
jupyterlab-widgets1.0.2
jwcrypto== 0.8
kiwisolver== 1.3.1
lru-dict== 1.1.7
lxml== 4.5.2
MarkupSafe== 2.1.1
matplotlib== 3.4.1
matplotlib-inline 0.1.3
mistune==0.8.4
more-itertools8.13.0
msgpack==1.0.2
multiaddr==0.0.9
multidict==5.1.0
mypy-extensions 0.4.3
nbclassic==0.3.7
nbclient== 0.5.11
nbconvert==6.5.0
nbformat== 5.4.0
nest-asyncio== 1.5.4
netaddr==0.8.0
notebook== 6.4.8
notebook-shim==0.1.0
nptyping== 1.4.4
numexpr==2.8.1
numpy==1.19.2
numpy-financial 1.0.0
oauth2client== 4.1.3
oauthlib== 3.1.0
openapi-codec==1.3.2
opencv-python==4.3.0.36
OpenFisca-Core35.8.3
OpenFisca-France116.10.0
packaging==21.3
pandas== 1.1.3
pandocfilters==1.5.0
parsimonious== 0.8.1
parso==0.8.3
pathspec== 0.9.0
patsy==0.5.2
pexpect==4.8.0
phonenumbers== 8.12.10
pickleshare==0.7.5
Pillow== 8.2.0
pip==21.1.2
platformdirs== 2.5.0
pluggy== 0.13.1
prometheus-client 0.13.1
prompt-toolkit3.0.28
protobuf== 3.16.0
psutil== 5.9.1
psycopg2== 2.8.6
ptyprocess== 0.7.0
pure-eval==0.2.2
py== 1.11.0
py-moneyed== 1.2
pyasn1== 0.4.8
pyasn1-modules0.2.8
pycares==3.1.1
pycparser==2.20
pycryptodome== 3.14.1
pycryptodomex==3.9.9
Pygments== 2.7.1
PyHamcrest== 2.0.2
PyJWT==1.7.1
pylokit==0.8.1
pyOpenSSL==20.0.1
pypandoc== 1.5
pyparsing==2.4.7
PyPDF2== 1.26.0
pyrsistent== 0.18.1
pytesseract==0.3.5
pytest== 5.4.3
python-bidi==0.4.2
python-dateutil 2.8.1
python-docx==0.8.10
python-Levenshtein0.12.2
python3-openid3.2.0
pytz== 2020.1
PyYAML== 6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy== 2.0.1
reportlab==3.5.49
requests== 2.24.0
requests-oauthlib 1.3.0
rlp==2.0.1
rsa==4.7.2
scikit-build== 0.11.1
scipy==1.8.1
screen== 1.0.1
Send2Trash== 1.8.0
service-identity18.1.0
setuptools== 60.10.0
simplejson== 3.17.2
six==1.16.0
sniffio==1.2.0
social-auth-app-django4.0.0
social-auth-core3.3.3
sortedcontainers2.2.2
soupsieve==2.0.1
sqlparse== 0.3.1
stack-data== 0.2.0
statsmodels==0.13.2
stripe== 2.55.0
templated-docs0.3.1
terminado==0.13.1
testpath== 0.5.0
tinycss2== 1.0.2
tomli==2.0.1
toolz==0.11.2
torch==1.6.0
tornado==6.1
tqdm== 4.48.2
traitlets==5.1.1
trdg== 1.6.0
Twisted==20.3.0
txaio==20.12.1
typing-extensions 3.10.0.2
typish== 1.9.3
uritemplate==3.0.1
urllib3==1.25.10
varint== 1.0.2
virtualenv== 20.0.30
wcwidth==0.2.5
web3== 5.28.0
webencodings== 0.5.1
websocket-client1.3.2
websockets== 9.1
wheel==0.34.2
whitenoise== 5.2.0
widgetsnbextension3.5.2
xhtml2pdf==0.2.4
xlwt== 1.3.0
xmltodict==0.12.0
yapf== 0.30.0
yarl== 1.6.3
zipp== 3.7.0
zope.interface5.2.0
